<!-- Navigation Bar starts-->

<div class=" front-ui-background">
<div class="navbar">

  <nav>
     <div class="nav-wrapper">
       <a href="/" >
          <b style="font-size:25px">Admin Section Area (CMS)</b>
       </a>
       <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">

         <li><img src="/icons/seminar.png" style="height:25px; width:25px; margin-top:20px;"></li>
         <li><a href="/cms/seminar"><b>Seminars</b></a></li>
         <li><span style="padding-right:20px;"></span></li>

         <li><img src="/icons/trophy.png" style="height:25px; width:25px; margin-top:18px;"></li>
         <li><a href="/cms/competition"><b>Competitions</b></a></li>
         <li><span style="padding-right:20px;"></span></li>

         <li><img src="/icons/presentation.png" style="height:25px; width:25px; margin-top:18px;"></li>
         <li><a href="/cms/seminar/coaching"><b>Coaching</b></a></li>
         <li><span style="padding-right:20px;"></span></li>

         <li><img src="/icons/sponsor.png" style="height:25px; width:25px; margin-top:18px;"></li>
         <li><a href="/cms/sponsor"><b>Sponsor</b></a></li>
         <li><span style="padding-right:20px;"></span></li>

         <li><img src="/icons/writing.png" style="height:25px; width:25px; margin-top:18px;"></li>
         <li><a href="/cms/article"><b>Articles</b></a></li>
         <li><span style="padding-right:20px;"></span></li>
         <!-- <li><a href="mobile.html">Mobile</a></li> -->
       </ul>
     </div>
   </nav>
</div>

 <ul class="sidenav" id="mobile-demo">
   <li><hr></li>
   <li><a href="/cms/seminar"><img src="/icons/seminar.png" style="height:25px; width:25px;margin-top:10px; margin-right:10px;"><span style="font-size:25px;"><b>Seminars</b></span></a></li>
   <li><hr></li>
   <li><a href="/cms/competition"><img src="/icons/trophy.png" style="height:25px; width:25px;margin-top:10px; margin-right:10px;"><span style="font-size:25px;"><b>Competition</b></span></a></li>
   <li><hr></li>
   <li><a href="/cms/coaching"><img src="/icons/presentation.png" style="height:25px; width:25px;margin-top:10px; margin-right:10px;"><span style="font-size:25px;"><b>Coaching</b></span></a></li>
   <li><hr></li>
   <li><a href="/cms/sponsor"><img src="/icons/sponsor.png" style="height:25px; width:25px;margin-top:10px; margin-right:10px;"><span style="font-size:25px;"><b>Sponsors</b></span></a></li>
   <li><hr></li>
   <li><a href="/cms/article"><img src="/icons/writing.png" style="height:25px; width:25px;margin-top:10px; margin-right:10px;"><span style="font-size:25px;"><b>Articles</b></span></a></li>
   <li><hr></li>
 </ul>
<!-- Navigation Bar Finishes-->
