        <footer class="page-footer" style="background-color:#1A4437;">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <!-- <h5 class="white-text">Footer Content</h5> -->
               <p class="grey-text text-lighten-4">Hello Pankaj, This is Footer. <br> We can customize this section later accoridng to your need.</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <a class="grey-text text-lighten-3" href="#!"><img src="/icons/fb-logo.png" height="30px" width="30px"></a> &nbsp;&nbsp;&nbsp;
               <a class="grey-text text-lighten-3" href="#!"><img src="/icons/twitter.png" height="30px" width="30px"></a> &nbsp;&nbsp;&nbsp;
               <a class="grey-text text-lighten-3" href="#!"><img src="/icons/instagram-logo.png" height="30px" width="30px"></a> &nbsp;&nbsp;&nbsp;
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2019 Copyright E-Games
           <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
           </div>
         </div>
       </footer>
